header {
    width: 100%;
    height: 100vh;
    background-image: url("/img/bg-header.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}

.header-title {
   width: 25%;
   margin-left: 10%;
}

.chat-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 140px;
    background: #E41B67;
    border-radius: 140px 0 0 0;
    -moz-border-radius: 140px 0 0 0;
    -webkit-border-radius: 140px 0 0 0;
    z-index: 1;

}
.chat-img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

#search {
    width: 110%;
    height: 40px;
    border-radius: 14px;
}
.header-arrow {
    width: 10%;
    font-size: 1.4rem;
    bottom: 0;
    margin-left: 45%;
}
.fa-angle-down {
    font-size: 3rem;
}

.main-bar {
    background-image: linear-gradient(to bottom, #CE738E, #3A59A2)
}
.bar-item {
    width: 20%;
    color: white;
    font-size: 0.8rem;
}

.main-nav>.nav-item {
    height: 60px;
    flex-grow: 1;
    text-align: center;
        }
    
.active-tab {
    background-color: #3A59A2;
    color: white;
}    