header {
    background-image: url("../img/lecture-img.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.hidden {
    display: none;
}
.menu-btn {
    position: absolute;
    right: 30px;
    top: 80px;
    z-index: 1;
}

.chat-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 140px;
    background: #E41B67;
    border-radius: 140px 0 0 0;
    -moz-border-radius: 140px 0 0 0;
    -webkit-border-radius: 140px 0 0 0;
    z-index: 1;

}
.chat-img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.header-side {
    background-image: linear-gradient(to bottom, rgba(201, 53, 43, 0.8), rgba(55, 128, 185, 1));
    width:40%;
    height: 100%;
    color: white;
}

.header-title {
    position: relative;
    top: 20%;
    width: 70%;    
}

/* .box {
    border: 1px solid green;
} */

.header-side-nav {
width: 40%;
position: absolute;
bottom: 0;

}

.btn.play {
width: 220px;
height: 3rem;
border-radius: 50px;
}

.btn.download {
    width: 80px;
   border-radius: 20px;
}
.img-download {
    width: 20px;
}

.color-pale {
    color: rgba(255, 255, 255, 0.5);
}
.color-active {
    color: white;
}

.ask-content {
    color: #959595;
}
.answer-content {
    color: #3C7CB7;
}

.playlist-item {
    font-size: 1.4rem;
}